@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --red: #f04141;
    --white:#ffffff;
    --black: #161616;
}

body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: auto;
}
button{
    border:none;
    background: var(--red);
    color: var(--white);
    padding:10px 30px;
    border-radius: 2px;
    margin-right: 10px; 
    font-size: 16px;
}
.flex{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.NavMenu ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 24px;
}
.NavMenu ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--black);
}
.utilities button{
    background: var(--red);
}
.Hero{
    background: #f6f6f6;
    position: relative;
    height:calc(100vh - 67px);
}
.Hero::after{
    content: "";
    position: absolute;
    width: 100vw;
    background: #f6f6f6;
    left: calc((1280px - 100vw) / 2);
    height: 100%;
    z-index: -1;
}   
.HeroImage img{
    max-height:500px;
}
.heroContent h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
}
.heroContent p{
    font-size: 22px;
}